.div-1{
    position: absolute;
    top:535px;
    left: 140px;
}

.div-2{
    position: absolute;
    top:535px;
    left: 390px;
}

.div-3{
    position: absolute;
    top:625px;
    left: 170px;
}

.div-4{
    position: absolute;
    top:625px;
    left: 378px;
}

a{
    color:black;
    text-decoration: none;
}