/* .container {
  position: relative;
  display: flex;
  top: 100px;

} */

.card1 {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details1 {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button1 {
  -webkit-transform: translate(-50%, 125%);
      -ms-transform: translate(-50%, 125%);
          transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
 }
 
 .text-body1 {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title1 {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card1:hover {
  border-color: #008bf8;
  -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card1:hover .card-button1 {
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 1;
 }