
.picture{
    width: 100%;
    height: 100%;
}
h2{
  color:#392ec4;
  text-align: center;
}
.parent {
    display: flex;
    justify-content: space-between;
  
  background-color:linear-gradient(to left, #33ccff 0%, #ff99cc 92%);;  
    align-items: center;
  }
  
  .profile-right{
    position: absolute;
    top: 15%;
    right: 0%;
    width: 60%;
    height: 70%;
    padding:1rem 0 1rem 0;
    margin-right: 150px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e2e2e2;
    border: 1px solid rgba(0, 0, 0, 0.067);
    border-radius: 20px;
    text-align: center;

  }

  .profile-left {
    
    position: absolute;
    top: 20%;
    left: 0%;
    height:500px;
    width: 25% ;
    
    margin-left: 150px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e2e2e2;
    border: 0px solid grey;
    border-radius: 20px;
 
  }

  .up{
    color: #470a8e ;
    margin-top: 5%;;
  }
  .down{
    color: #470a8e ;
    
    margin-bottom: 5%;;
  }
 
  .m  {
    color: #470a8e ;

  }
  /* .up, .m, .down :hover {
    color: white;
    } */

   p{

    margin:0.5%;
   }
   .picture{
    position: absolute;
    top: -20px;
    left: -20px;
    
   }

  

  .features{
    position: relative;
    border-radius: 10px;
    background-color: white;
    margin:1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.282);
    height:50px;
    align-items: left;
    overflow: hidden;
    height: 70px;
   
  }
  
  .features1{
    position: absolute;
    top: 10px;
    left: 15px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; 
  }
  .features2{
    position: absolute;
    top:20px;
    left: 130px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; 

  }
  .features3{
    position: absolute;
    top: 10px;
    left: 0px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  
  .chatbot{
    position: absolute;
    border-radius: 10px;
    background-color: #42A5f5;

    height:50px;
    align-items: center;
    width: 150px;
    right: 50px;
    bottom: 23.5px;
  }
  .chat{
    color:white;
    position: absolute;
    bottom: 25%;
    left: 25%;
  }
  .pic2{
    width: 100%;
  
  }
  .pic3{
    width: 130%;
  }

  .pic4{
    width:65%;
  }
  .pic5{
    width:65%;
  }
  .pic6{
    width:60%;
  }
  .texts{
    font-family:Arial, Helvetica, sans-serif
  }

  .abcd{
    position: relative;
    text-align:center;;
    top:1.5%;
    left:14%;
    background-color: #222344;
    width:70%;
    height: 45px;
    color: white;
    border-radius: 10px;
  }


  .card {
    position: relative;
    width: 100%;
    height: 100%;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    border: grey;

  }
  .card:hover{
    box-shadow: 5px 5px  2px 2px  #7850a6;
    
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }
  
  .card_title {
    font-weight: bold;
   
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .card:hover .card_content {
    transform: translateY(0);
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }
  
/* rigth side css */
.cta {
  position: absolute;
  
  margin: auto;
  padding: 12px 18px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .cta:hover svg {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
 }
 
 .cta:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
 }

 .dpr{
  border-radius: 10px;
  position: relative;
  height: 400px;
  width: 400px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  left: 800px;
  top: 200px;
 }