/* 
.picture{
    width: 50%;
}
h2{
  color:#392ec4;
  text-align: center;
}
.parent {
    display: flex;
    justify-content: space-between;
  
  background-color:linear-gradient(to left, #33ccff 0%, #ff99cc 92%);;  
    align-items: center;
  }
  
  .profile-right{
    width: 40%;
    padding:1rem 0 1rem 0;
    margin-right: 150px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e2e2e2;
    border: 1px solid rgba(0, 0, 0, 0.067);
    border-radius: 20px;
    text-align: center;


  }

  .up{
    margin-top: 5%;;
  }
  .down{
    margin-bottom: 5%;;
  }

   p{

    margin:0.5%;
   }
   .picture{
    border-radius: 50%;
   }

  .profile-left {
    
    
    height:500px;
    width: 25% ;
    
    margin-left: 150px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e2e2e2;
    border: 1px solid rgba(0, 0, 0, 0.107);
    border-radius: 20px;
 
  }

  .features{
    position: relative;
    border-radius: 10px;
    background-color: white;
    margin:1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.282);
    height:50px;
    align-items: left;
    overflow: hidden;
    height: 70px;
   
  }
  
  .features1{
    position: absolute;
    top: 10px;
    left: 15px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; 
  }
  .features2{
    position: absolute;
    top:20px;
    left: 130px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; 

  }
  .features3{
    position: absolute;
    top: 10px;
    left: 0px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  
  .chatbot{
    position: absolute;
    border-radius: 10px;
    background-color: #42A5f5;

    height:50px;
    align-items: center;
    width: 150px;
    right: 50px;
    bottom: 23.5px;
  }
  .chat{
    color:white;
    position: absolute;
    bottom: 25%;
    left: 25%;
  }
  .pic2{
    width: 100%;
  
  }
  .pic3{
    width: 130%;
  }

  .pic4{
    width:65%;
  }
  .pic5{
    width:65%;
  }
  .pic6{
    width:60%;
  }
  .texts{
    font-family:Arial, Helvetica, sans-serif
  }

  .abcd{
    position: relative;
    text-align:center;;
    top:1.5%;
    left:14%;
    background-color: #222344;
    width:70%;
    height: 45px;
    color: white;
    border-radius: 10px;
  } */

  
  .card {
    width: 190px;
    height: 254px;
    background: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
   }
   
   .card:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
    background-color: #4bb8ff;
   }
   
   .card .blob {
    height: 10px;
    width: 75%;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    background-color: #4bb8ff;
    visibility: visible;
    transition: all 0.3s;
   }
   
   .card:hover .blob {
    height: 0;
   }
   
   .card .img {
    display: flex;
    margin: 30px auto 10px auto;
    width: 70px;
    height: 70px;
    background-color: #4bb8ff;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
   }
   
   .card:hover .img {
    width: 100%;
    height: 70%;
    border-radius: 10px 0 0;
    margin: 0 auto;
    background-color: #f0f0f0;
    z-index: 99999;
   }
   
   .card h2 {
    padding: 15px 10px;
    font-size: 25px;
    transition: all 0.1s;
    z-index: -99;
    line-height: 17px;
   }
   
   .card span {
    font-size: 18px;
   }
   
   .card:hover h2 {
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
   }
   
   .card>p {
    opacity: 0;
    transition: all 0.75s;
   }
   
   .card>p>svg {
    padding: 5px;
   }
   
   .card:hover>p {
    position: absolute;
    bottom: 15px;
    left: 35px;
    opacity: 1;
    transition: all 0.1s;
   }